<!-- CORRECTED VERSION -->
<li id="navbar_failuredetector">
    <a href="#" data-bind="attr: { title: statusText }, click: forceCheck">
        <i class="fa fa-eye" data-bind="style: { color: statusColor }, css: { 'fa-spin': isChecking }"></i>
    </a>
</li>
