<!-- octoprint_failuredetector/templates/failuredetector_navbar.jinja2 -->
<div id="navbar_failuredetector">
    <li>
        <a href="#" data-bind="attr: { title: statusText }, click: forceCheck">
            <i class="fa fa-eye" data-bind="style: { color: statusColor }, css: { 'fa-spin': isChecking }"></i>
        </a>
    </li>
</div>
